<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduQuiz</title>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo"><a href="{{ url_for('home') }}">eduQuiz</a></div>
        <nav class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Quiz Kategori ▼</button>
                <div class="dropdown-content">
                    <a href="/quiz/math">Matematika</a>
                    <a href="/quiz/animals">Tebak Hewan</a>
                    <a href="/quiz/places">Tebak Lokasi</a>
                </div>
            </div>
        </nav>
    </header>

    <main class="homepage-container">

    <!-- Slideshow -->
        <div class="carousel">
            <div class="carousel-track">
                <div class="slide active"><img src="/static/img/geoguess.jpeg" alt="GeoGuess"></div>
                <div class="slide next"><img src="/static/img/math.jpeg" alt="Math"></div>
                <div class="slide"><img src="/static/img/zoo.jpeg" alt="Zoo"></div>
            </div>

            <div class="buttons">
              <button id="prevBtn">&#10094;</button>
              <button id="nextBtn">&#10095;</button>
            </div>
        </div>

    <!-- Leaderboard dan Lorem -->
    <div class="bottom-section">
        <div class="leaderboard">
            <h3>🏆 Leaderboard</h3>
            <ol>
                <li>Budi - 90%</li>
                <li>Santi - 85%</li>
                <li>Ali - 80%</li>
            </ol>
        </div>

        <div class="lorem-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor.</p>
        </div>
    </div>
</main>

</body>
</html>
