<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz - {{ category|capitalize }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">

    <script>
        window.quizData = {{ questions | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    
</head>
<body>
    <header>
        <div class="logo"><a href="{{ url_for('home') }}">eduQuiz</a></div>
    </header>

    <main class="quiz-container">
        <h2>{{ category|capitalize }} Quiz</h2>

        <div id="start-countdown" class="countdown-overlay">
            <div class="countdown-number" id="countdown-number">3</div>
        </div>

        <div id="quiz-container"></div>

        <div id="timer-container">
            <div id="timer-label">⏱ Waktu: <span id="countdown">10</span> detik</div>
            <div class="progress-bar-wrapper">
                <div id="progress-bar"></div>
            </div>
        </div>


        <button id="next-button" style="display: none;">Selanjutnya</button>

        <div id="result"></div>


        <div id="result"></div>

        <div style="text-align: center; margin-top: 20px;">
            <a href="/" id="back-button" style="display:none;" class="back-button">Kembali ke Menu</a>
        </div>

    </main>
</body>
</html>
