<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz - {{ category|capitalize }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <header>
        <div class="logo"><a href="{{ url_for('home') }}">eduQuiz</a></div>
    </header>

    <main class="quiz-container">
        <h2>{{ category|capitalize }} Quiz</h2>

        <form id="quiz-form">
            {% for question in questions %}
            <div class="question-box">
                <p>{{ loop.index }}. {{ question.text }}</p>
                {% for opt in question.options %}
                    <label>
                        <input type="radio" name="{{ question.name }}" value="{{ opt[0] }}"> {{ opt[0] }}. {{ opt[1] }}
                    </label><br>
                {% endfor %}
            </div>
            {% endfor %}

            <button type="submit">Kirim Jawaban</button>
        </form>

        <div id="result"></div>
    </main>
</body>
</html>
